

#gps {
    margin-right: 1em;
    height: max-content;
    border: 0.1px solid rgba(128, 128, 128, 0.262);
}

#searchs {
    width: 80%;
}

.nav-item{
    
    padding: 20px;
}
.button-nav{
    border-radius: 7px;

}
li i {
    padding: 0 1vw;
}

#navbarSupportedContent {
    display: flex;
    flex-direction: row;
}

#nav-ul {
    display: flex;
    flex-direction: row;
}

#nav-ul a:hover {
    background-color: #16987f;
    color: #ffffff;
    border-radius: 10px;
}
.cartas{
    width: 200px;
    

}
.container-cards{
    display: flex;
}
