#gps {
    margin-right: 1em;
    height: max-content;
    border: 0.1px solid rgba(128, 128, 128, 0.262);
}

#searchs {
    width: 80%;
}

.nav-item {

    padding: 20px;
}

.button-nav {
    border-radius: 7px;

}

li i {
    padding: 0 1vw;
}

#navbarSupportedContent {
    display: flex;
    flex-direction: row;
}

#nav-ul {
    display: flex;
    flex-direction: row;
}

#nav-ul a:hover {
    background-color: #16987f;
    color: #ffffff;
    border-radius: 10px;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 3%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 3%;
}

.card_cartas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    width: 20%;
    padding: 5px;
    align-items: center;
    border-radius: 8px;
    background-color: aquamarine;
}

.card_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.card_cartas img {
    height: 100%;
    padding: 3px;
}

.card-body {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    margin-top: 5px;
    padding-left: 0%;
}

.card-body h2 {
    font-size: 20px;
    margin-top: 5px;
}

.card-body h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cart-section {
    /* display: none; */
    position: absolute;
    background-color: #a8cac3;
}